################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdvanceCSharp/FileContentIndex
/AdvanceCSharp.API/obj
/AdvanceCSharp.API/AdvanceCSharp.API.csproj.user
/AdvanceCSharp.database/obj
/AdvanceCSharp.dto/obj
/AdvanceCSharp.service/obj
/AdvanceCSharp.testing/bin/Debug/net8.0
/AdvanceCSharp.testing/obj
/.vs
/AdvanceCSharp.API/bin/Debug/net8.0/runtimes
/AdvanceCSharp.API/bin/Debug/net8.0
/AdvanceCSharp.database/bin/Debug/net8.0
/AdvanceCSharp.dto/bin/Debug/net8.0
/AdvanceCSharp.dummy/obj/Debug/net8.0
/AdvanceCSharp.dummy/obj
/AdvanceCSharp.service/bin/Debug/net8.0
